<!-- <div class="heading">
  Notifications in Angular
</div> -->
<div class="conatiner">
  <div class="heading">
    <h4>Basic Notification</h4>
  </div>
  <div class="row">
    <div class="items">
      <button (click)="showSuccess()">Success Notification</button>
    </div>
    <div class="items">
      <button (click)="showError()">Error Notification</button>
    </div>
    <div class="items">
      <button (click)="showWarning()">Warning Notification</button>
    </div>
    <div class="items">
      <button (click)="showInfo()">Infomation Notification</button>
    </div>
    <div class="items">
      <button (click)="showCustom()">Custom Notification</button>
    </div>
  </div>
  <div class="heading">
    <h4>Execute based on toaster state</h4>
  </div>
  <div class="row">
    <div class="items">
      <button (click)="beforeNotification()">Execute before Notification</button>
    </div>
    <div class="items">
      <button (click)="afterNotification()">Execute after Notification</button>
    </div>
  </div>
  <div class="heading">
    <h4>Change toaster postion</h4>
  </div>
  <div class="row">
    <div class="items">
      <button (click)="leftTop()">Left Top</button>
    </div>
    <div class="items">
      <button (click)="leftBottom()">Left Bottom</button>
    </div>
    <div class="items">
      <button (click)="rightTop()">Right Top</button>
    </div>
    <div class="items">
      <button (click)="rightBottom()">Right Bottom</button>
    </div>
    <div class="items">
      <button (click)="bottomCenter()">Bottom Center</button>
    </div>
    <div class="items">
      <button (click)="topCenter()">Top Center</button>
    </div>
    <div class="items">
      <button (click)="topFullWidth()">Top (Full Width)</button>
    </div>
    <div class="items">
      <button (click)="bottomFullWidth()">Bottom (Full Width)</button>
    </div>
  </div>
  <div class="heading">
    <h4>Change toaster Animation</h4>
  </div>
  <div class="row">
    <div class="items">
      <button (click)="fadeAnimation()">Fade</button>
    </div>
    <div class="items">
      <button (click)="flyLeftAnimation()">FlyLeft</button>
    </div>
    <div class="items">
      <button (click)="flyRightAnimation()">FlyRight</button>
    </div>
    <div class="items">
      <button (click)="slideDownAnimation()">SlideDown</button>
    </div>
    <div class="items">
      <button (click)="slideUpAnimation()">SlideUp</button>
    </div>
  </div>
  <div class="heading">
    <h4>Render Component in Toaster</h4>
  </div>
  <div class="row">
    <div class="items">
      <button (click)="showComponentToaster()">Show Toaster</button>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="config"></toaster-container>